{% extends 'base.html'%}

{% block title %}
    <title> modification </title>
{% endblock %}

{% block content %}

    <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
             aria-hidden="true">


        </div>
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-orange-400 sm:text-4xl">Modifier la ville de {{ ville.intitule }}</h2>
        </div>
        <form method="POST" class="mx-auto mt-10 max-w-xl sm:mt-18">
            {% csrf_token %}

            <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                <div>
                    <label for="pays" class="block text-lg font-semibold leading-6 text-gray-900">Pays</label>

                    <select name="pays" id="pays"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        {% for pays in pays %}
                            <option value="{{ pays.id }}" {% if pays.id == ville.pays.id %}
                                    selected {% endif %}>{{ pays.intitule }}</option>
                        {% endfor %}
                    </select>

                </div>

                <br>
                <div>
                    <label for="intitule" class="block text-lg font-semibold leading-6 text-gray-900">Ville </label>
                    <div class="mt-2.5">
                        <input type="text" name="intitule" id="intitule" value="{{ ville.intitule }}"
                               placeholder="Nom de la ville"
                               class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <br>
                <div >
                    <button type="submit"
                            class="block w-full rounded-md bg-orange-600 px-4 py-3.5 text-center text-xl font-semibold text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Modifier
                    </button>
                </div>
        </form>
    </div>
    <a href="{% url 'localisation:ville_list' %}" class=" rounded-full bg-blue-700 px-4 py-3.5 text-center text-xl font-semibold text-white shadow-sm hover:bg-orange-600 focus-visible:outline focus-visible:outline">Retour à la liste des villes </a>
{% endblock %}