{% extends 'baseS.html' %}

{% block title %}
    <title> liste </title>
{% endblock %}
{% block content %}

    <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
             aria-hidden="true">

        </div>
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-orange-400 sm:text-4xl pb-2">Liste des Clients</h2>
        </div>
        <a href="{% url 'structure:client_create' %}"
           class=" group relative h-12 w-48 overflow-hidden rounded-2xl font-bold text-white pb-2 bg-blue-700 px-4 py-3.5 text-center text-xl shadow-sm hover:bg-orange-600 focus-visible:outline focus-visible:outline">
            Ajouter un client</a>

        <table class="min-w-full border-collapse block md:table sm:shadow-lg mt-3">
            <thead class="block md:table-header-group">
            <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    Nom de l'utilisateur
                </th>
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    Nom du client
                </th>
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    Prenom du client
                </th>
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    sexe du client
                </th>
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    Adresse du client
                </th>
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    Email du client
                </th>
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    téléphone du client
                </th>
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    Action
                </th>
            </tr>
            </thead>
            <tbody class="block md:table-row-group">
            {% for cli in clients %}
                <tr class="bg-blue-500 font-bold border border-grey-500 md:border-3 block md:table-row sm:shadow-lg text-white">
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ cli.user.username }}</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ cli.nom }}</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ cli.prenom }}</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ cli.sex }}</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ cli.adresse }}</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ cli.email }}</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ cli.tel }}</td>
                    <td>
                        <a href="{% url 'structure:client_delete' cli.pk %}"
                           class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded">Supprimer</a>
                        <a href="{% url 'structure:client_update' cli.pk %}"
                           class="bg-blue-700 hover:bg-blue-500 text-white font-bold py-1 px-2 border border-blue-700 rounded">Mofifier</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-red-500 font-bold ">Aucun client trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}