{% extends 'base.html' %}

{% block title %}
    <title> modification </title>
{% endblock %}
{% block content %}
    <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
             aria-hidden="true">
        </div>
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-orange-400 sm:text-4xl">Modifier une Filiale
                "{{ filiale.nom }}"</h2>
        </div>
        <form method="POST" class="mx-auto mt-10 max-w-xl sm:mt-18">
            {% csrf_token %}

            <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                <div>
                    <label for="entreprise"
                           class="block text-lg font-semibold leading-6 text-gray-900">Entreprise</label>
                    <select name="entreprise" id="entreprise"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        {% for entreprise in entreprises %}
                            <option value="{{ entreprise.id }}" {% if entreprise.id == filiale.entreprise.id %}
                                    selected {% endif %}>{{ entreprise.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="ville" class="block text-lg font-semibold leading-6 text-gray-900">Ville</label>
                    <select name="ville" id="ville"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        {% for ville in villes %}
                            <option value="{{ ville.id }}" {% if ville.id == filiale.ville.id %}
                                    selected {% endif %}>{{ ville.intitule }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="sm:col-span-2">
                    <label for="nom" class="block text-lg font-semibold leading-6 text-gray-900">Nom</label>
                    <div class="mt-2.5">
                        <input type="text" name="nom" id="nom" placeholder="Nom de la filiale" value="{{ filiale.nom }}"
                               class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="adresse"
                           class="block text-lg font-semibold leading-6 text-gray-900">adresse </label>
                    <div class="relative mt-2.5">
                        <input type="text" name="adresse" id="adresse" autocomplete="adresse" value="{{ filiale.adresse }}"
                               placeholder="Adresse de la filiale"
                               class="block w-full rounded-md border-0 px-3.5 py-2 pl-20 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="tel" class="block text-lg font-semibold leading-6 text-gray-900">Téléphone</label>
                    <div class="mt-2.5">
                        <input type="number" name="tel" id="tel" placeholder="Téléphone de la filiale" rows="4" value="{{ filiale.tel }}"
                               class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

            </div>
            <div class="mt-10">
                <button type="submit"
                        class="block w-full rounded-md bg-orange-600 px-4 py-3.5 text-center text-xl font-semibold text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Modifier
                </button>
            </div>
        </form>
    </div>
{% endblock %}