{% extends 'baseS.html' %}
{% block title %}
    <title>home</title>
{% endblock %}
{% block content %}
    <div class="isolate bg-white rounded-lg p-4 shadow-md my-4 px-6 py-24 sm:py-32 lg:px-8">
        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
             aria-hidden="true">

        </div>
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-orange-400 sm:text-4xl ">Liste des Messages</h2>
        </div>

        <table class="table-auto w-full min-w-full border-collapse block md:table sm:shadow-lg mt-3">
            <thead class="block md:table-header-group">
            <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    Nom
                </th>
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    Tèlèphone
                </th>
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    Email
                </th>
                <th class="bg-orange-400 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">
                    Message
                </th>
            </tr>
            </thead>
            <tbody class="block md:table-row-group">
            {% for mess in messages %}
                <tr class="bg-blue-500 font-bold border border-grey-500 md:border-3 block md:table-row sm:shadow-lg text-white">
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ mess.nom }}</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ mess.tel }}</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ mess.email }}</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">{{ mess.message }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-red-500 font-bold ">Aucun message trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}